
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
  </head>
  <body>
    <slider>
     <slide><p>Slide 1</p></slide>
     <slide><p>Slide 2</p></slide>
     <slide><p>Slide 3</p></slide>
     </slider>


<div class="avatar" style="background-image: url(/assets/food-post.jpg);">
				</div>

<%= link_to "new", new_catalog_path %>
  </body>
  </html>
