p.categ {

  color: red;
  text-align: center;
  font-size: 50px;
}
p.showpole {
  color: red;
  font-size: 40px;
}
p.showpole1 {
  color: black;
  font-size: 20px;
}
.category {
  padding: 10px;
  margin-left: 113px;
  width:70%;
  background: #F5F5F5;
}
.forms {
  padding: 10px;
  margin-left: 113px;
  width:80%;
  color: black;
}

.category input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #A9A9A9;
  color: #000;
  font-size: 18px;
  border-radius: 30px;
  margin-left: 130px;

}

.submit {
  margin-left: 100px;
  size: 40%;
  cursor: pointer;
}
h1.Catal {
   color: red;
}

.pole {
  background: rgba(245,245,245,0.8);
  padding: 1em;
}
