<% @category.catalogs.each do |x| %>
  <% if x.approved? %>
    <div class="card">
      <h5 class="card-header"><%= link_to x.title, catalog_path(x), class:"text-danger"%></h5>

         <div id="mainwrapper">
       <div id="box-4" class="box">
        <% x.photos.each do |y| %>
          <%= image_tag(y.url, size: "700x300") %>
        <% end %>
        <span class="caption slide-caption">
    			<h3><%= x.title %></h3>
    			<p><%= x.description %></p>
    		</span>
      </div>
    </div>
    </div>
  <% end %>
<% end %>
